# Normalize all text files to LF in repo
* text=auto

# Force LF for important project files
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sh text eol=lf

# Windows specific files
*.bat text eol=crlf